p{
    color: #ffa488;
    font-size: 20px;
    font-family:"poppins";
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    }

snap{
    color: #ffffff;
    font-size: 20px;
    font-family:"poppins";
    font-weight: bold;
    text-align: left;
    margin: 10px;
    }


